<a href="https://colab.research.google.com/github/Shoyeb-Nazir-1699/Artificial-Intelligence-Python/blob/main/Control_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IF statement

In [2]:
grade = 85
if grade>=60:
 print("passed")

passed

# If else statement

In [4]:
grade =85
if grade>=60:
 print("passed")
else:
 print("fail")

passed

# *Conditional expression*

In [7]:
result = ('Passed' if grade >= 60 else'Failed')
print(result)

Passed

# IF__elif__else statement

In [9]:
grade = 77

if grade >= 90:
 print('A')

elif grade >= 80:
 print('B')

elif grade >= 70:
 print('C')

elif grade >= 60:
 print('D')

else:
 print('F')

C

# While Statement

In [13]:
number = 1

while (number<10):

 print(number, end=" ")  #print in same line with space using end =" "
 number+=1

1 2 3 4 5 6 7 8 9

*while statement to find the first power of 3 larger than 50:*

In [16]:
product = 3

while product<=50:
 product = product*3
print(product)

81

# For statement

In [17]:
for character in "programming":
 print(character, end=" ")

p r o g r a m m i n g

# Built in Range Function

*Let’s use a for statement and the built-in range function to iterate precisely 10 times, displaying the values from 0 through 9:*

In [18]:
for counter in range(10):
 print(counter, end=" ")

0 1 2 3 4 5 6 7 8 9

*Use the range function and a for statement to calculate the total of the integers from 0 through 1,000,000.*

In [21]:
total = 0

for number in range(1000001):
 total = total+number

print(total)

500000500000

*Function range also has two- and three-argument versions. As you’ve seen, range’s one argument version produces a sequence of consecutive integers from 0 up to, but not including, the argument’s value. Function range’s two-argument version produces a sequence of consecutive integers from its frst argument’s value up to, but not including, the second argument’s value, as in:*

In [22]:
for number in range(5,10):
 print(number, end=" ")

5 6 7 8 9

*Function range’s three-argument version produces a sequence of integers from its frst argument’s value up to, but not including, the second argument’s value, incrementing by the third argument’s value, which is known as the step:*

In [23]:
for number in range(0,10,2):
 print(number, end=" ")

0 2 4 6 8

*If the third argument is negative, the sequence progresses from the frst argument’s value down to,but not including the second argument’s value, decrementing by the third argument’s value, as in:*

In [25]:
for number in range(10,0,-2):
 print(number, end=" ")

10 8 6 4 2

*Number table print using range function*

In [26]:
number = int(input())
for i in range(1,11):
 print(number,"X",i,"=",number*i)

9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

*Nested For Loop*

In [28]:
for left in range(7):

 for right in range(left,7):
  print("["+str(left)+"|"+str(right)+"]", end ="")
 print()

[0|0][0|1][0|2][0|3][0|4][0|5][0|6]
[1|1][1|2][1|3][1|4][1|5][1|6]
[2|2][2|3][2|4][2|5][2|6]
[3|3][3|4][3|5][3|6]
[4|4][4|5][4|6]
[5|5][5|6]
[6|6]

*Break statement*

In [32]:
for number in range(10):
 if number==5:

  break

 print(number, end=" ")

0 1 2 3 4

*Continue statement*

In [41]:
for number in range(10):
 if number==5:
  continue

 print(number, end=" ")

0 1 2 3 4 6 7 8 9

# Extremely Basic

In [46]:
a = int(input())
b = int(input())
x = a + b
print(x)

5
7
12

# Area of a Circle

In [48]:
r = float(input())
pi = 3.14159
a = pi * (pow(r,2))
print(a)

2
12.56636

# Age in Days

In [49]:
days = int(input());

years = int(days/365);
days -= years*365;

months = int(days/30);
days -= months*30;

print(repr(years)+" ano(s)");
print(repr(months)+" mes(es)");
print(repr(days)+" dia(s)");

400
1 ano(s)
1 mes(es)
5 dia(s)