<a href="https://colab.research.google.com/github/Shoyeb-Nazir-1699/Artificial-Intelligence-Python/blob/main/Introduction_To_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Basic Python**
#My Python First Program "Print HeLLo World"

In [1]:
print("Hello world")
print("Shoyeb Nazir  ID: 173-15-1699")

Hello world
Shoyeb Nazir  ID: 173-15-1699

#Variables and Assignment Statements

In [74]:
x=5
y=4
print(x+y)

9

In [ ]:
total = x+y
print(total)

8

In [3]:
name = "Shoyeb"
name2 = "Nazir"
print(name , name2)

Shoyeb Nazir

#Types

In [4]:
x =10
type(x)

int

In [5]:
type(10.5)

float

In [6]:
type(name)

str

#Arithmetic operators

In [7]:
multiplication = 5*5
print(multiplication)

25

In [11]:
add = 10+10
print(add)

20

In [10]:
sub = 20-5
print(sub)

15

In [14]:
Exponentiation =2**5
print(Exponentiation)

32

In [15]:
True_Division = 10/4
print(True_Division)

2.5

In [16]:
Floor_Division = 7//4
print(Floor_Division)

1

In [17]:
remainder = 25%5
print(remainder)

0

In [19]:
x = 105
y = 100
x>y

True

In [20]:
x<y

False

In [21]:
x==y

False

In [22]:
x!=y

True

In [23]:
x>=y

True

In [24]:
x<=y

False

In [25]:
x = 3
y = 10
1 <= x <= 5

True

In [26]:
1 <= y <= 5

False

#*Printing a Comma-Separated List of Items*

In [27]:
print('Welcome', 'to', 'Python!')

Welcome to Python!

#*Printing Many Lines of Text with One Statement*

In [28]:
print('Welcome\nto\n\nPython!')

Welcome
to

Python!

# *Ignoring a Line Break in a Long String*

In [29]:
print('this is a longer string, so we \
split it over two lines')

this is a longer string, so we split it over two lines

# *Printing the Value of an Expression*

In [30]:
print('Sum is', 5 + 3)

Sum is 8

In [31]:
print('int(5.2)', 'truncates 5.2 to', int(5.2))

int(5.2) truncates 5.2 to 5

# *Including Quotes in Strings*

In [32]:
print('Display "hi" in quotes')

Display "hi" in quotes

In [33]:
print('Display \'hi\' in quotes')
#using the \' escape sequence:

Display 'hi' in quotes

In [34]:
print("Display the name O'Brien")

Display the name O'Brien

In [35]:
print("Display \"hi\" in quotes")

Display "hi" in quotes

# *To avoid using ' and " inside strings, you can enclose such strings in triplequotes: italicized text italicized text italicized text*

In [36]:
print("""Display "hi" and 'bye' in quotes""")

Display "hi" and 'bye' in quotes

# *Multiline Strings*

In [37]:
triple_quoted_string = """This is a triple-quoted
string that spans two lines"""
print(triple_quoted_string)

This is a triple-quoted
string that spans two lines

In [40]:
print("""This is a lengthy
multiline string containing
a few lines \
of text""")

This is a lengthy
multiline string containing
a few lines of text

# *Precision Handling in Python*

In [56]:
# using "%" to print value till 2 decimal places
a = 5.5536475856
print("The value of number till 2 decimal place(using %) is :",end="")
print('%.2f' %a)

The value of number till 2 decimal place(using %) is :5.55

In [57]:
# using "%" to print value till 4 decimal places

print("The value of number till 2 decimal place(using %) is :",end="")
print('%.4f' %a)

The value of number till 2 decimal place(using %) is :5.5536

# **Getting Input from the User**

# *The built-in input function requests and obtains user input:*

In [60]:
name = input("What's your name? ")
print(name)

What's your name? Shoyeb Nazir
Shoyeb Nazir

In [61]:
value1 = input('Enter first number: ')
value2 = input('Enter second number: ')
total = value1 + value2
print(total)

Enter first number: 20
Enter second number: 10
2010

In [62]:
type(total) #python takes input as a string we have to type cast the input

str

In [63]:
total = int(value1) + int(value2) #type casting to int format
print(total)

30

# *Getting an Integer from the User by casting the input format*

In [65]:
another_value = int(input('Enter another integer: '))
print(another_value)

Enter another integer: 20
20

# *Taking multiple input from the user*

In [67]:
a, b = input().split()
print(a , b)

5 7
5 7

In [68]:
print(type(a))

<class 'str'>

In [69]:
number1 = int(input('Enter first integer: '))
number2 = int(input('Enter second integer: '))
number3 = int(input('Enter third integer: '))

Enter first integer: 10
Enter second integer: 20
Enter third integer: 30

In [70]:
min(number1,number2,number3)

10

In [71]:
max(number1,number2,number3)

30

# **Exercises**

In [77]:
x=2
y=3
print('x =', x)
print('Value of', x, '+', x, 'is', (x +
x))
print('x =')
print((x + y), '=', (y + x))

x = 2
Value of 2 + 2 is 4
x =
5 = 5